<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>%{{title}}</title>
  <script src="/analytics.js"></script>
  <style>
    @css-content {}

  </style>
</head>

<body>
  <div class="footer"><a href="./">Return home</a></div>
  <main>

    %{{content}}
  </main>
</body>

</html>
