<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>%{{title}}</title>
  <meta name="theme-color" content="#373737" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#F0F0F0" media="(prefers-color-scheme: dark)">
  <script src="/analytics.js"></script>
  <style>
    @css-content {}

  </style>
  <script defer src="https://eluni.co/background-render.js"></script>
  <link rel="stylesheet" href="https://eluni.co/background-style.css">
</head>

<body>

  @include navbar


  <main id="main">

    %{{content}}
  </main>
  <footer class="article-tags">
    %{{tags}}
  </footer>


</body>

</html>
