<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>eluni.co Blog</title>
  <meta name="theme-color" content="#5468C0" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#22377A" media="(prefers-color-scheme: dark)">
  <script src="/analytics.js"></script>

  <style>
    @css-content {}

  </style>

  <script defer src="https://eluni.co/background-render.js"></script>
  <link rel="stylesheet" href="https://eluni.co/background-style.css">
</head>

<body>

  @include navbar

  <h1 class="main-title">Tom's Blog@{{page-title}}</h1>

  <main id="main">
    %{{content}}
  </main>

  <div class="page-nav">
    @{{page-nav}}
  </div>

</body>

</html>
