<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>eluni.co Blog</title>
  <script src="/analytics.js"></script>

  <style>
    @css-content {}

  </style>
</head>

<body>

  @include navbar

  <h1 class="main-title">Tom's Blog</h1>

  <main>
    %{{content}}
  </main>

</body>

</html>
