<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>eluni.co Blog</title>
  <meta name="theme-color" content="#5468C0" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#22377A" media="(prefers-color-scheme: dark)">
  <script src="/analytics.js"></script>
  @include-css stylesheet


  <script defer src="https://eluni.co/background-render.js"></script>
  <link rel="stylesheet" href="https://eluni.co/background-style.css">
</head>

<body>

  @include navbar

  <h1 class="main-title">Tom's Blog@{{page-title}}</h1>

  <div class="intro-blurb">Posts</div>
  <main class="index-main" id="main">
    %{{content}}
  </main>

  <footer class="page-nav">
    @{{page-nav}}
  </footer>
  @include date_script

</body>

</html>
