<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Results</title>
  @include theme_meta

  <script src="/analytics.js"></script>
  @include-css stylesheet

</head>

<body>
@include theme_toggle

  @include navbar

  <header>
    <h1>Search Results for <code id="search-term"></code></h1>
  </header>
  <aside class="hit-count">Results: <span id="hits"></span></aside>

  <main id="main"></main>

  <script defer src="https://eluni.co/background-render.js"></script>
  <link rel="stylesheet" href="https://eluni.co/background-style.css">
  <script>

    async function getMetadata(tag) {
      let resp = await fetch(`/blog/tags/${tag}.json`);
      let text = await resp.text();
      let metadata = JSON.parse(text);
      return metadata;
    }

    async function getSearchResults() {
      let tag = new URLSearchParams(window.location.search).get('tag');
      if (!tag) {
        document.writeln(`No results for '${tag}'`);
      } else {
        document.querySelector('#search-term').textContent = tag;
        let data = await getMetadata(tag);
        let destination = document.querySelector('#main');
        let hits = document.querySelector('#hits');
        // let articles = data[tag];
        // hits.textContent = articles.length;
        hits.textContent = data.length;
        for (let article of data) {
          let div = document.createElement('div');
          div.innerHTML = article['internal_content'];
          destination.appendChild(div);
        }
        return true;
      }
    }

    getSearchResults().then(r => console.log(r));
  </script>
  @include date_script

</body>

</html>
