<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Results</title>
  <script src="/analytics.js"></script>
  <style>
    @css-content {}

  </style>
</head>

<body>

  @include navbar

  <h1>Search Results for <code id="search-term"></code></h1>
  <div class="hit-count">Results: <span id="hits"></span></div>

  <main id="results-area"></main>


  <script>

    async function getMetadata() {
      let resp = await fetch('tags.json');
      let text = await resp.text();
      let metadata = JSON.parse(text);
      return metadata;
    }

    async function getSearchResults() {
      let tag = new URLSearchParams(window.location.search).get('tag');
      if (!tag) {
        document.writeln(`No results for '${tag}'`);
      }
      document.querySelector('#search-term').textContent = tag;

      let destination = document.querySelector('#results-area');
      let hits = document.querySelector('#hits');
      let data = await getMetadata();
      let articles = data[tag];
      hits.textContent = articles.length;
      for (let article of articles) {
        let div = document.createElement('div');
        div.innerHTML = article['internal_content'];
        destination.appendChild(div);
      }
      return true;
    }

    getSearchResults().then(r => console.log(r));
  </script>
</body>

</html>
