@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

  --root-font-size: 1em;
  --footer-color: rgb(123, 123, 123);
  --tag-background-color: aliceblue;
  --tag-border-radius: 10px;
  --tag-padding: calc(var(--tag-border-radius) / 2);
  --base-font-size: 1.1em;
  --minor-font-size: calc(0.8 * var(--base-font-size));

  --post-padding: calc(1.05 * var(--base-font-size)) 0;
  --blog-title-padding: calc(var(--base-font-size) / 2.25);
  --main-content-width: 65%;
  --bg-text-color: rgb(221, 221, 221);
}

@media (max-width: 950px) {
  :root {
    --root-font-size: 1em;
    --footer-color: rgb(123, 123, 123);
    --tag-background-color: aliceblue;
    --tag-border-radius: 10px;
    --tag-padding: calc(var(--tag-border-radius) / 2);
    --base-font-size: 1.1em;
    --minor-font-size: calc(0.8 * var(--base-font-size));

    --post-padding: calc(1.05 * var(--base-font-size)) 0;
    --blog-title-padding: calc(var(--base-font-size) / 2.25);
    --main-content-width: 80%;
  }
}


body {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Nunito", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 20vh;
  line-height: 1.5;
  height: 100%;
  font-size: var(--base-font-size);
}

main {
  width: var(--main-content-width);
  background-color: #f5f8fd;
  height: 100%;
  padding: 1em;
}


.main-title {
  font-size: calc(2.25 * var(--base-font-size));
  text-shadow: #aaa 5px 5px 10px;
}

.footer {
  font-size: var(--minor-font-size);
  color: var(--footer-color);
  font-weight: bold;
  width: 100%;
}

h1 {
  text-shadow: #aaa 5px 5px 10px;

}

.blog-title {
  font-size: calc(1.5 * var(--base-font-size));
  font-weight: bold;
  padding-bottom: var(--blog-title-padding);

}

.pub-date {
  font-weight: normal;
}

.tag {
  font-style: italic;
  border-radius: var(--tag-border-radius);
  background-color: var(--tag-background-color);
  padding: var(--tag-padding);
  font-weight: normal;
}

.tag>a:link,
.tag>a:visited {
  text-decoration: none;
  color: inherit;
}

.tag>a:hover {
  color: blue;
  text-decoration: underline;
}

.post {
  padding: var(--post-padding);
}

.summary {
  padding: var(--post-padding);
}

.hit-count {
  padding-bottom: var(--blog-title-padding);
  color: var(--footer-color);
  font-size: var(--minor-font-size);
}

#results-area {
  padding-top: calc(var(--blog-title-padding) * 2);
}

.article-tags {

  padding-top: calc(var(--blog-title-padding) * 2);
}

.page-nav {
  width: var(--main-content-width);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: var(--base-font-size);

}
