/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;1,7..72,400;1,7..72,700&family=Source+Sans+3:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

  --root-font-size: 1.05em;
  --footer-color: rgb(123, 123, 123);
  --tag-background-color: aliceblue;
  --tag-border-radius: 10px;
  --tag-padding: calc(var(--tag-border-radius) / 2);
  /*--base-font-size: 1em;*/


  --libre-baskerville-family: "Libre Baskerville", serif;
  --libre-baskerville-size: 0.9em;
  --libre-baskerville-lineheight: 1.6;

  --crimson-pro-family: "Source Serif Pro", "Hoefler Text", "Minion Pro", "Linux Libertine O", "Crimson Pro", serif;
  --crimson-pro-lineheight: 1.4;
  --crimson-pro-size: 1.05em;

  --para-font: var(--crimson-pro-family);
  --base-font-size: var(--crimson-pro-size);
  --body-line-height: var(--crimson-pro-lineheight);

  --minor-font-size: calc(0.8 * var(--base-font-size));
  --title-font-size: calc(1.5 * var(--base-font-size));

  --post-padding: calc(1.05 * var(--base-font-size)) 0;
  --blog-title-padding: calc(var(--base-font-size) / 3.25);
  --main-content-width: 60%;

  --main-background-color: #f5f8fd;
  --code-background-color: #fff;
  
  --text-shadow: #aaa 5px 5px 10px;
  --link-color: #0e51d2;
  --body-main-color: black;
  --link-visited-color: #992fc0;

  --main-box-shadow: 8px 8px lightgray;
  --main-border: 2px solid #222;

}

@media (max-width: 1200px) {
  :root {
    --root-font-size: 1.05em;
    --tag-border-radius: 10px;
    --tag-padding: calc(var(--tag-border-radius) / 2);
    --minor-font-size: calc(0.8 * var(--base-font-size));

    --libre-baskerville-size: 1.1em;
    --crimson-pro-size: 1.3em;
    --base-font-size: var(--crimson-pro-size);
    --title-font-size: calc(1.1 * var(--base-font-size));

    --post-padding: calc(1.05 * var(--base-font-size)) 0;
    --blog-title-padding: calc(var(--base-font-size) / 2.25);
    --main-content-width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --footer-color: rgb(123, 123, 123);
    --tag-background-color: #25252d;
    --text-shadow: #070707 5px 5px 10px;
    --link-color: #83c7ff;
    --body-main-color: white;
    --main-background-color: #2d2d2d;
    --link-visited-color: #d285ee;

    --code-background-color: #000;
    --main-box-shadow: 8px 8px rgb(30, 30, 30);
    --main-border: 2px solid #ddd;
  }
}


body {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 20vh;
  line-height: var(--body-line-height);
  height: 100%;
  font-size: var(--base-font-size);
  color: var(--body-main-color);
  background-color: var(--body-main-color);
  font-variant-numeric: lining-nums;
}

main {
  width: var(--main-content-width);
  background-color: var(--main-background-color);
  height: 100%;
  padding: 1em;
  border-radius: 15px;
  border: var(--main-border);
  box-shadow: var(--main-box-shadow);
  margin-top: 15px;
}


.main-title {
  font-size: var(-title-font-size);
  text-shadow: var(--text-shadow);
}

.footer {
  font-size: var(--minor-font-size);
  color: var(--footer-color);
  font-weight: bold;
  width: 100%;
  padding: calc(var(--base-font-size) / 3);
}

h1 {
  text-shadow: var(--text-shadow);

}

.blog-title {
  font-size: var(--title-font-size);
  font-weight: bold;
  padding-bottom: var(--blog-title-padding);

}

.pub-date {
  font-weight: normal;
  font-family: var(--para-font);

}

.tag {
  font-style: italic;
  border-radius: var(--tag-border-radius);
  background-color: var(--tag-background-color);
  padding: var(--tag-padding);
  font-weight: normal;
  font-family: var(--para-font);
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.tag>a:link,
.tag>a:visited {
  text-decoration: none;
  color: inherit;
}

.tag>a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.post {
  padding: var(--post-padding);
}

.summary {
  padding: var(--post-padding);
  font-family: var(--para-font);
  font-size: var(--base-font-size);
}

.hit-count {
  padding-bottom: var(--blog-title-padding);
  color: var(--footer-color);
  font-size: var(--minor-font-size);
}

#results-area {
  padding-top: calc(var(--blog-title-padding) * 2);
}

.article-tags {

  padding-top: calc(var(--blog-title-padding) * 2);
}

.page-nav {
  width: var(--main-content-width);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
}

@supports (display: grid) {
  .page-nav {
    transform: none;
    align-items: unset;
    align-content: unset;
    justify-content: unset;

    width: var(--main-content-width);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: var(--base-font-size);
  }
}

p {
  font-family: var(--para-font);
  font-size: var(--base-font-size);
}

.toc {
  font-family: var(--para-font);
  font-size: var(--base-font-size);
}

#remove-button {
  position: fixed !important;
}

code {
  font-size: 1.2em;
}

.codehilite {
  display: inline-block;
  width: 100%;
  padding: 0.5em 0;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--body-main-color) var(--main-background-color);
  background-color: var(--code-background-color);
}