:root {
  --post-padding: 1em 0;
  --blog-title-padding: 0.5em;
  --root-font-size: 0.9em;
  --footer-color: rgb(123, 123, 123);
  --tag-background-color: aliceblue;
  --tag-border-radius: 10px;
  --tag-padding: calc(var(--tag-border-radius) / 2);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
}

main {
  width: 50%;
  padding-bottom: 20vh;
}

.main-title {
  font-size: 3em;
}

.footer {
  font-size: var(--root-font-size);
  color: var(--footer-color);
  font-weight: bold;
}

.blog-title {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: var(--blog-title-padding);
}

.pub-date {
  font-weight: normal;
}

.tag {
  font-style: italic;
  border-radius: var(--tag-border-radius);
  background-color: var(--tag-background-color);
  padding: var(--tag-padding);
  font-weight: normal;
}

.tag>a:link,
.tag>a:visited {
  text-decoration: none;
  color: inherit;
}

.tag>a:hover {
  color: blue;
  text-decoration: underline;
}

.post {
  padding: var(--post-padding);
}

.summary {
  padding: var(--post-padding);
}
